body {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.navigbar {
    background-color: #1E202B;
    padding: 50 0;
}

.navigbar h6 {
    font-size: 16px;
    font-weight: 700;
}

.navigbar h6 span {
    font-size: 10px;
    font-weight: 300;
}

.navigbar img {
    width: 35%;

}

.menubutton div {
    width: 25px;
    height: 2px;
    background-color: #009AD8;
    margin: 6px 0;
}

.homelink {
    color: #009AD8 !important;
    border: #009AD8 2px solid !important;
    padding: 2px 25px;
    border-radius: 20px;
}

.navigbar li {
    font-size: 14px;
    font-weight: 400;
    padding: 2px 25px;
    border: transparent 2px solid;
    border-radius: 20px;
    transition: all 0.2s;
    color: white;
}




.navigbar li:hover {
    color: #009AD8;
    border: #009AD8 2px solid;
    padding: 2px 25px;
    border-radius: 20px;
}

.city {
    background-color: #1E202B;
    background-image: url(../images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.cityresidual {
    height: 200vh;
    background-color: #1E202B;
    position: relative;
    z-index: -1;
}

.search {
    background-color: #1E202B;
    border: transparent;
    color: white;
}

.search:focus {
    outline: none;
}

.find {
    right: 3px;
    bottom: 4px;
    padding: 12px 45px !important;
}

.title {

    background-color: #2D303D;
}

.title h2 {
    font-size: 14px;
    color: #BFC1C8;
    font-weight: 400;
}

.firstday {
    background-color: #323544;
}

.firstday h3 {
    font-size: 18px;
    font-weight: 400;
    color: #BFC1C8;
}

.firstday h4 {
    font-size: 90px;
    color: #FFFFFF;
    font-weight: 700;
}

.firstday h5 {
    font-size: 14px;
    color: #009AD8;
    font-weight: 300;
}

.firstday ul {
    color: #BFC1C8;
    font-size: 14px;
    font-weight: 300;
}

ul img {
    scale: 0.6;
}

.weather {
    margin-top: 120px;
}

.weathercondition {
    scale: 2;
}

.weathercondition img {
    vertical-align: middle;
}


.secondday {
    background-color: #262936;
}

.secondday h4 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.secondday h5 {
    font-size: 16px;
    color: #BFC1C8;
    font-weight: 300;
}

.secondday h6 {
    color: #009AD8;
    font-size: 14px;
    font-weight: 300;
}

.title2 {
    background-color: #222530 !important;
}

.day2 {
    background-color: #262936 !important;
}

.day3 {
    background-color: #323544 !important;
}

.search {
    right: 5px;
}

.subscribe {
    background-color: #262936;
}

.link {
    width: 50px;
    height: 50px;
    background-color: #1E202B;
    border: 1px solid none;
    border-radius: 50%;
    color: #009AD8;
}

.link li {
    scale: 1.2;
}

.link:hover {
    background-color: #009AD8;
}

.link:hover li {
    color: white;
}

.subscribe p {
    color: #BFC1C8;
    font-size: 14px;
    font-weight: 300;
}

.tabs {
    transition: all 0.5s;
    max-height: 0;
    overflow: hidden;
}

.tabs div {
    background-color: #262936;
    border: 1px solid rgba(0, 155, 216, 0.598);
    cursor: pointer;
}

.tabs li:hover {
    border: transparent 2px solid !important;
}





@media (max-width: 991px) {
    .largeul {
        display: none;
    }

    .menubutton {
        display: inline-block;
        cursor: pointer;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .search {
        right: 5px;
    }

    .city {
        height: 60vh;
    }

    .cityresidual {
        height: 40vh;
    }

    .largeul {
        display: flex;
    }

    .menubutton {
        display: none;

    }

    .navigbar {
        height: 120px;
    }

    .tabs {
        display: none;
    }

}